* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white);
}

.flex-container {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

footer {
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: black;
  color: white;
}
