@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */

header {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgb(22, 22, 22);
}

.container-nav li {
  display: inline-block;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  color: white;
  padding: 0px 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  border: white;
  color: rgb(152, 152, 152);
}

.container-nav li a:hover {
  color: white;
}

.logo-container {
  justify-content: left;
  padding-right: 1rem;
  cursor: pointer;
}

/* HERO SECTION */

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("media/pexels-pixabay-265906.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  color: white;
  padding: 10%;
  font-family: "Raleway", "Arial Narrow Bold", sans-serif;
  font-size: larger;
  font-weight: lighter;
}

.hero-text p {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.hero-text h1 {
  padding-top: 3rem;
}

.hero-text button {
  font-size: medium;
  padding: 3rem;
}

.hero-section-two {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("media/pexels-khairul-onggon-908184.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-box {
  gap: 1rem;
  padding: 5rem;
  display: flex;
}

.container-text {
  box-shadow: 5px 10px #888888;
  border-radius: 1rem;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  background-color: rgb(242, 242, 242);
  padding: 5rem;
}

#search {
  border: 1px;
  border-radius: 0.5rem;
  border-color: white;
  color: white;
  padding: 0.5rem;
  background-color: rgba(22, 22, 22, 100%);
}

button {
  background-color: rgba(0, 0, 0, 0.1);
  border: 5px;
  border-radius: 0.5rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* Product Showcase */

.hero-image {
  width: 100%;
}
.product-showcase-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.product-container {
  justify-content: center;
  border-radius: 1rem;
}
.product-image {
  border-radius: 1rem;
  justify-content: center;
  width: 40%;
}

.flex-footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: rgb(22, 22, 22);
  color: white;
}
.flex-footer label {
  justify-content: center;
  padding: 3rem;
  width: 100%;
  font-family: "Raleway", "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
}

#newsletter {
  background-color: rgb(22, 22, 22);
}

#footer-location {
  font-family: "Raleway", "Arial Narrow Bold", sans-serif;
  font-size: 1.5rem;
}
