@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */

header {
  position: fixed;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(22, 22, 22);
}

header i {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-nav {
  list-style: none;
  display: flex;
  gap: 20px;
}

.container-nav li {
  display: inline-block;
  font-size: 18px;
  font-family: "Raleway", "Arial Narrow Bold", sans-serif;
  font-weight: lighter;
  color: white;
  padding: 0px 20px;
}

a {
  text-decoration: none;
  color: white;
}

.container-nav li a:hover {
  font-weight: bold;
}

.logo-container {
  display: flex;
  padding-left: 4rem;
  cursor: pointer;
}

.container-search {
  display: flex;
  align-items: center;
  padding-right: 3rem;
  padding-left: 10rem;
}

.container-search i {
  cursor: pointer;
}

.search-icon-container {
  position: absolute;
  transform: translate(+290%, +9%);
}

/* HERO SECTION */

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("media/pexels-pixabay-265906.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80%;
  padding: 20px;
  padding-top: 13rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.hero-text {
  width: 100%;
  color: white;
  padding: 10%;
  padding-left: 4rem;
  font-family: "Raleway", "Arial Narrow Bold", sans-serif;
  font-size: larger;
  font-weight: lighter;
  grid-column: span 1 / span 1;
}

.down-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.down-arrow i {
  color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
}

.hero-text p {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hero-text h1 {
  padding-top: 12rem;
}

.hero-section-two {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("media/pexels-khairul-onggon-908184.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text-two {
  width: 100%;
  color: white;
  padding: 10rem;
  font-family: "Raleway", "Arial Narrow Bold", sans-serif;
  font-size: larger;
  font-weight: lighter;
  grid-column: span 1 / span 1;
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.hero-section-two * {
  padding: 10rem;
}

.container-box {
  gap: 1rem;
  padding: 5rem;
  display: flex;
}

.container-text {
  box-shadow: 5px 10px #888888;
  border-radius: 1rem;
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  background-color: rgb(242, 242, 242);
  padding: 5rem;
}

#search {
  border: 0.2px solid #fff;
  border-radius: 0.5rem;
  border-color: white;
  color: white;
  padding: 0.5rem;
  background-color: rgba(22, 22, 22, 100%);
}

.custom-btn {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #fff;
  border-radius: 0.5rem;
  border-color: white;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

/* Product Showcase */

.product-catagories-container {
  margin: auto;
  width: 100%;
  padding: 10px;
  background-color: #f0efeb;
}

.product-catagories-container i {
  text-align: center;
  margin: auto;
  background-color: #f0f0f0;
  border: #888888;
  border-width: 5px;
  border-radius: 1rem;
  padding: 1rem;
}

.product-catagories-container h1 {
  text-align: center;
  font-family: "Raleway", "Arial Narrow Bold", sans-serif;
  font-size: 3rem;
  padding: 3rem;
}

.hero-image {
  width: 100%;
}
.featured-container {
  background-color: #f0efeb;
  font-family: "Raleway", "Arial Narrow Bold", sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
}
.product-container {
  justify-content: center;
  border-radius: 1rem;
}
.product-image {
  border-radius: 1rem;
  justify-content: center;
  width: 40%;
}

.flex-footer {
  display: flex;
  justify-content: center;
  padding: 30px;
  background-color: rgb(22, 22, 22);
  color: white;
}
.flex-footer label {
  justify-content: center;
  padding: 3rem;
  width: 100%;
  font-family: "Raleway", "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
}

#newsletter {
  background-color: rgb(22, 22, 22);
}

#footer-location {
  font-family: "Raleway", "Arial Narrow Bold", sans-serif;
  font-size: 1.5rem;
}

social-media-icons {
  font-size: 6rem;
}
